<div class="dialogTitle">Change password</div>
<md-content class="dialogContent changePasswordDialog">
  <form class="changePasswordForm" name="changePasswordForm" layout="column" novalidate>
    <md-input-container flex class="formItem">
      <label>Old password</label>
      <input name="oldPassword" type="password" required md-no-asterisk ng-model="oldPassword">
      <div ng-messages="changePasswordForm.oldPassword.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container flex class="formItem">
      <label>New password</label>
      <input name="newPassword" type="password" required md-no-asterisk ng-model="newPassword" minlength="6"
             md-maxlength="15">
      <div ng-messages="changePasswordForm.newPassword.$error" multiple>
        <div ng-message="required">This is required.</div>
        <div ng-message="minlength">Password must have at leas 6 characters.</div>
        <div ng-message="md-maxlength">Password must have maximum 15 characters.</div>
      </div>
    </md-input-container>

    <md-input-container flex class="formItem">
      <label>Confirm new password</label>
      <input name="confirmNewPassword" type="password" required md-no-asterisk ng-model="confirmNewPassword"
             ng-pattern="{{newPassword}}">
      <div ng-messages="changePasswordForm.confirmNewPassword.$error" multiple>
        <div ng-message="required">This is required.</div>
        <div ng-message-exp="['pattern']">
          The confirmed new password is not the same with new password.
        </div>
      </div>
    </md-input-container>
    <div class="dialogToolbar" layout="row">
      <md-button ng-click="closeDialog()">Cancel</md-button>
      <md-button ng-click="changePassword()"
                 ng-disabled="!changePasswordForm.$valid || buttonChangeDisabled">Change
      </md-button>
    </div>
  </form>
</md-content>
