<md-dialog class="changePasswordDialog">
  <div class="dialogTitle">Change password</div>
  <md-dialog-content class="dialogContent">
    <form id="changePasswordForm" name="changePasswordForm" layout="column" novalidate ng-submit="changePassword()">
      <md-input-container flex class="formItem">
        <label>Old password</label>
        <input name="oldPassword" type="password" required md-no-asterisk ng-model="oldPassword">
        <div ng-messages="changePasswordForm.oldPassword.$error" ng-if="changePasswordForm.$submitted">
          <p ng-messages-include="scripts/common/templates/genericMessages.html"></p>
        </div>
      </md-input-container>

      <md-input-container flex class="formItem">
        <label>New password</label>
        <input name="newPassword" type="password" required md-no-asterisk ng-model="newPassword" ng-minlength="6"
               ng-maxlength="15">
        <div ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.$submitted">
          <p ng-messages-include="scripts/common/templates/genericMessages.html"></p>
          <p ng-message="minlength">Password must have at leas 6 characters.</p>
          <p ng-message="maxlength">Password must have maximum 15 characters.</p>
        </div>
      </md-input-container>

      <md-input-container flex class="formItem">
        <label>Confirm new password</label>
        <input name="confirmNewPassword" type="password" required md-no-asterisk ng-model="confirmNewPassword"
               ng-pattern="{{newPassword}}">
        <div ng-messages="changePasswordForm.confirmNewPassword.$error" ng-if="changePasswordForm.$submitted">
          <p ng-messages-include="scripts/common/templates/genericMessages.html"></p>
          <p ng-message-exp="['pattern']">
            The confirmed new password is not the same with new password.
          </p>
        </div>
      </md-input-container>
    </form>
  </md-dialog-content>
  <md-dialog-actions class="dialogToolbar" layout="row">
    <md-button ng-click="closeDialog()">Cancel</md-button>
    <md-button type="submit" form="changePasswordForm" ng-disabled="buttonChangeDisabled">Change</md-button>
  </md-dialog-actions>
</md-dialog>
