<md-content class="profileContainer">
  <form class="profileForm" name="profileForm" layout="column">
    <md-input-container>
      <label>First name</label>
      <input name="firstName" ng-model="userDetails.firstName">
    </md-input-container>
    <md-input-container>
      <label>Last name</label>
      <input name="lastName" ng-model="userDetails.lastName">
    </md-input-container>
    <md-input-container>
      <label>Address</label>
      <input name="address" ng-model="userDetails.address">
    </md-input-container>
    <md-input-container>
      <label>Email</label>
      <input name="email" ng-model="userDetails.email">
    </md-input-container>
    <md-input-container>
      <label>Phone</label>
      <input name="phone" ng-model="userDetails.phone">
    </md-input-container>
  </form>
  <div class="navigationToolbar">
    <md-button class="md-raised md-primary">Save</md-button>
  </div>
</md-content>
