<div class="profileContainer">
    <form class="profileForm" name="profileForm" layout="column" novalidate>
      <label class="formHeader">Personal information</label>
      <md-content layout="row">

        <md-input-container flex class="formItem">
          <label>First name</label>
          <input name="firstName" required md-no-asterisk ng-model="userDetails.firstName">
          <div ng-messages="profileForm.firstName.$error">
            <div ng-messages-include="scripts/common/templates/genericMessages.html"></div>
          </div>
        </md-input-container>

        <md-input-container flex class="formItem">
          <label>Last name</label>
          <input name="lastName" required md-no-asterisk ng-model="userDetails.lastName">
          <div ng-messages="profileForm.lastName.$error">
            <div ng-messages-include="scripts/common/templates/genericMessages.html"></div>
          </div>
        </md-input-container>

      </md-content>

      <md-input-container ng-if="userDetails.role !== 'courier'" class="formItem">
        <label>Company address</label>
        <input name="address" required md-no-asterisk ng-model="userDetails.address">
        <div ng-messages="profileForm.address.$error">
          <div ng-messages-include="scripts/common/templates/genericMessages.html"></div>
        </div>
      </md-input-container>

      <md-content flex>
        <md-input-container class="formItem">
          <label>Email</label>
          <input name="email" ng-pattern="/^.+@.+\..+$/" required md-no-asterisk ng-model="userDetails.email">
          <div ng-messages="profileForm.email.$error">
            <div ng-message-exp="['pattern']">
              Your email must look like an e-mail address.
            </div>
            <div ng-messages-include="scripts/common/templates/genericMessages.html"></div>
          </div>
        </md-input-container>

        <md-input-container class="formItem">
          <label>Phone</label>
          <input name="phone" type="number" required md-no-asterisk ng-model="userDetails.phone">
          <div ng-messages="profileForm.phone.$error">
            <div ng-messages-include="scripts/common/templates/genericMessages.html"></div>
          </div>
        </md-input-container>
      </md-content>
    </form>
    <div class="navigationToolbar">
      <md-button class="md-raised" ng-click="openChangePasswordDialog()">Change password</md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="save()" ng-disabled="!profileForm.$valid || buttonSaveDisabled">Save</md-button>
    </div>
</div>
