<md-content class="profileContainer">
  <form class="form" name="profileForm" layout="column" novalidate ng-submit="save()">
    <label class="formHeader">Personal information</label>
    <md-content layout="row">

      <md-input-container flex class="formItem">
        <label>First name</label>
        <input name="firstName" required md-no-asterisk ng-model="userDetails.firstName">
        <div ng-messages="profileForm.firstName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container flex class="formItem">
        <label>Last name</label>
        <input name="lastName" required md-no-asterisk ng-model="userDetails.lastName">
        <div ng-messages="profileForm.lastName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

    </md-content>

    <md-input-container class="formItem">
      <label>Address</label>
      <input name="address" required md-no-asterisk ng-model="userDetails.address">
      <div ng-messages="profileForm.address.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-content flex>
      <md-input-container class="formItem">
        <label>Email</label>
        <input name="email" ng-pattern="/^.+@.+\..+$/" required md-no-asterisk ng-model="userDetails.email">
        <div ng-messages="profileForm.email.$error">
          <div ng-message-exp="['pattern']">
            Your email must look like an e-mail address.
          </div>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="formItem">
        <label>Phone</label>
        <input name="phone" type="number" required md-no-asterisk ng-model="userDetails.phone">
        <div ng-messages="profileForm.phone.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </md-content>
  </form>

  <form class="form changePasswordForm" name="changePasswordForm" layout="column" novalidate>
    <label class="formHeader">Change password</label>
    <md-input-container flex class="formItem">
      <label>Old password</label>
      <input name="oldPassword" type="password" required md-no-asterisk ng-model="oldPassword">
      <div ng-messages="profileForm.oldPassword.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container flex class="formItem">
      <label>New password</label>
      <input name="newPassword" type="password" required md-no-asterisk ng-model="newPassword" minlength="10"
             md-maxlength="15">
      <div ng-messages="profileForm.newPassword.$error" multiple>
        <div ng-message="required">This is required.</div>
        <div ng-message="minlength">Password must have at leas 10 characters.</div>
        <div ng-message="md-maxlength">Password must have maximum 15 characters.</div>
      </div>
    </md-input-container>

    <md-input-container flex class="formItem">
      <label>Confirm new password</label>
      <input name="confirmNewPassword" type="password" required md-no-asterisk ng-model="confirmNewPassword"
             ng-pattern="{{newPassword}}">
      <div ng-messages="profileForm.confirmNewPassword.$error" multiple>
        <div ng-message="required">This is required.</div>
        <div ng-message-exp="['pattern']">
          The confirmed new password is not the same with new password.
        </div>
      </div>
    </md-input-container>
    <md-button type="submit" class="md-raised md-primary" ng-click="changePassword()" ng-disabled="!changePasswordForm.$valid || buttonChangeDisabled">Change password
    </md-button>
  </form>

  <div class="navigationToolbar">
    <md-button type="submit" class="md-raised md-primary" ng-click="save()" ng-disabled="!profileForm.$valid || buttonSaveDisabled">Save
    </md-button>
  </div>
</md-content>
