@import "mixins";
@import "colorsVar";

body {
  margin: 0;
  height: 100%;
  background-color: #faf8f4;
  font-family: Segoe UI, Verdana, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

// General classes
.input {
  margin-left: 40px;
  margin-right: 40px;
  label {
    font-weight: 500;
    font-size: 15px;
  }
  input {
    border-color: black;
  }
}

.applicationContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
