@import "mixins";
@import "colorsVar";
@import "fonts";

body {
  margin: 0;
  height: 100%;
  background-color: #faf8f4;
  font-family: Segoe UI, Verdana, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#loading-bar-spinner {
  display: none;
}

// General classes
md-input-container {
  label {
    font-weight: 500;
    font-size: 15px;
    color: $materialColorGrey800
  }
  input {
    color: $materialColorGrey800;
    border-color: $materialColorGrey500;
  }
}

.applicationContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navigationToolbar {
  margin: 2px;
  @include shadowLevel-1;
  display: flex;
  justify-content: flex-end;
}

md-dialog {
  .dialogTitle {
    height: 35px;
    font-size: 20px;
    color: $materialColorGrey800;
    margin-top: 20px;
    margin-left: 25px;
  }
  .dialogContent {
    margin: 25px;
  }
  .dialogToolbar {
    display: flex;
    justify-content: flex-end;
  }
}

md-content {
  background-color: $lightColor;
}
