// Source: public/styles/scss/general.scss
@import "mixins";
@import "colorsVar";
@import "fonts";

body {
  margin: 0;
  height: 100%;
  background-color: $lightColor;
  font-family: Segoe UI, Verdana, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

input {
  &:focus {
    outline: none;
  }
}

.applicationContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#loading-bar-spinner {
  display: none;
}

// General classes
md-input-container {
  label {
    font-weight: 500;
    font-size: 15px;
    color: $materialColorGrey800
  }
  input {
    color: $materialColorGrey800;
    border-color: $materialColorGrey500;
  }
}

.navigationToolbar {
  margin: 2px;
  @include shadowLevel-1;
  display: flex;
  justify-content: flex-end;
}

md-dialog {
  .dialogTitle {
    border-bottom: 1px solid $borderColor;
    height: auto;
    font-size: 20px;
    color: $materialColorGrey800;
    margin: 20px 25px 5px 25px;
  }
  .dialogContent {
    padding: 25px 25px 0 25px;
    flex: 1;
  }
  .dialogToolbar {
    border-top: 1px solid $borderColor;
    margin: 5px 25px 0 25px;
    height: 45px;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

md-content {
  background-color: $lightColor;
}

md-toolbar {
  z-index: 1;
  min-height: 50px;
  margin-bottom: 2px;
  @include shadowLevel-1;
}
.md-toolbar-tools {
  height: 50px;
}

.md-button {
  line-height: 30px;
  min-height: 30px;
}

// Source: public/scripts/chat/chat.scss
/* Variables */
$botColor: #8bc34a;
$toolbarChatColor: #2196f3;
$lightGray: #aaaaaa;
$chatButtonBackgroundColor: #007988;
$hoverChatButtonBackgroundColor: #a6a6a6;
$rightChatBackgroundColor: #3fa8f0;
$leftChatBackgroundColor: #E0E0E0;
/* End variables */

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

//Styling for the user list
#main-users-resizer {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  background-color: $lightColor;
  @include shadowLevel-4;
  width: 250px;
  max-height: 75%;
  min-height: 25%;
  display: inline-block;
  position: fixed;
  z-index: 50000;
  bottom: 75px;
  right: 0;

  &:after {
    //https://codepen.io/ryanmcnz/pen/JDLhu
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -20px;
    right: 30px;
    border: 10px solid transparent transparent $lightColor $lightColor;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 3px 6px 0 rgba($shadowColor,.3);
  }
  #chat-title {
    height: 31px;
    .chat-main-title {
      padding: 5px;
      font-size: 16px;
      color: $lightColor;
      background-color: $toolbarChatColor;
      .number_of_online_users {
        padding-left: 3px;
      }
    }
  }
  .minimize-main {
    cursor: pointer;
    float: right;
    align-items: center;
    display: flex;
    margin-right: 10px;
    padding-top: 3px;
    &:before {
      font-family: 'Font Awesome 5 Free';
      content: "\f2d1";
      font-size: 14px;
      color: $lightColor;
    }
  }
  .user {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 7px 0 7px 13px;
    .user-avatar {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
      border: 1px solid $lightBorder;
    }
    &:hover {
      cursor: pointer;
      background-color: $materialColorGrey500;
      color: $lightColor;
    }
  }
  #chat-main-title-label {
    text-align: center;
    padding-top: 15px;
    .attempts {
      margin-top: 5px;
    }
    .reconnectLink {
      margin-top: 5px;
      color: $materialColorBlue800;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Styling for icon which open the user list
.main-chat-container {
  display: none;
  position: absolute;
  right: 15px;
  bottom: 15px;
  .apps {
    #chat-title-button {
      min-width: 120px;
    }
    position: relative;
  }
  #users-button-bar, .apps {
    display: inline-block;
  }
  .online, .offline {
    bottom: 0;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: $lightColor;
    cursor: pointer;
    border-radius: 50%;
    background-color: $materialColorGrey800;
    &:before {
      font-family: 'Font Awesome 5 Free';
      content: "\f086";
      font-size: 20px;
    }
    &:hover {
      @include transition();
      background-color: $hoverChatButtonBackgroundColor;
    }
  }
  #users-button-bar {
    position: absolute;
    right: 50px;
    display: flex;
    .user-button {
      height: 40px;
      width: 40px;
      &.open {
        height: 42px;
        width: 42px;
      }
      border-radius: 50%;
      position: relative;
      float: left;
      margin-right: 10px;
      .user-avatar {
        height: 100%;
        width: 100%;
        @include shadowLevel-3;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
        border: 1px solid $lightBorder;
      }
      .new-messages {
        color: $lightColor;
        display: none;
        background-color: $materialColorRed600;
        position: absolute;
        bottom: 20px;
        width: 19px;
        height: 19px;
        text-align: center;
        border-radius: 50%;
        left: 20px;
        line-height: 19px;
        font-size: 12px;
      }
      .close-button {
        cursor: pointer;
        display: none;
        line-height: 10px;
        background-color: $lightGray;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        left: 25px;
        bottom: 2px;
        text-align: center;
        &:before {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: '\f00d';
          font-size: 8px;
          color: $lightColor;
        }
      }
    }
  }
}

//Styling for dialog with users
.ui-dialog.ui-widget {
  display: inline-block;
  position: fixed;
  z-index: 50000;
  padding: 0;
  overflow: visible;
  background: $lightColor;
  @include shadowLevel-5;
  &.isMobile {
    &:after, &:before {
      content: none;
    }
  }

  &:after {
    top: 100%;
    right: 19px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 15px solid transparent;
    border-top-color: $lightColor;
  }
  &:before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 22px;
    right: 23px;
    height: 22px;
    bottom: -11px;
    z-index: -1;
    @include shadowLevel-5;
  }

  .ui-dialog-content {
    padding: 0;
  }
  .ui-dialog-titlebar.ui-widget-header {
    height: 31px;
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: $toolbarChatColor;
    color: $lightColor;
    font-size: 16px;
    padding: 5px;
    .ui-dialog-title {
      width: 100%;
      margin: 0;
    }
    .toolbar-window {
      position: absolute;
      right: 0;
      .minimize-window, .close-window {
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
        &:before {
          color: $lightColor;
        }
      }
      .minimize-window {
        &:before {
          font-family: 'Font Awesome 5 Free';
          content: "\f2d1";
          font-size: 14px;
          vertical-align: top;
        }
      }
      .close-window {
        margin-right: 10px;
        &:before {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: '\f00d';
          font-size: 14px;
        }
      }
    }
  }
  &.ui-widget .textarea-msg {
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 30px;
    width: 100%;
    display: inline-block;
    padding: 2px 9px;
    border: 0;
    border-top: 1px solid $borderColor;
    &::-ms-clear {
      display: none;
    }
  }
}

//Styling for chat message
.direct-chat {
  border-radius: 0;
  box-shadow: none;
  border: 0;
  margin-bottom: 0;
  font-size: 12px;
  .direct-chat-messages {
    margin-bottom: 15px;
    max-height: 210px;
    min-height: 210px;
    .right, .left {
      overflow: hidden;
      margin-top: 5px;
      &:hover {
        .direct-chat-info {
          visibility: visible;
        }
      }
      .direct-chat-text {
        font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        min-width: 100px;
        max-width: 300px;
        word-break: break-word;
        padding: 5px;
        position: relative;
        &:after {
          content: ' ';
          width: 0;
          height: 0;
          position: absolute;
          z-index: -1;
          top: 0;
        }
      }
    }
    .right {
      .direct-chat-text {
        margin-right: 10px;
        background-color: $rightChatBackgroundColor;
        color: $lightColor;
        float: right;
        right: 5px;
        &:after {
          border-top: 10px solid $rightChatBackgroundColor;
          border-right: 10px solid transparent;
          right: -10px;
        }
      }
    }
    .left {
      .direct-chat-text {
        margin-left: 10px;
        background-color: $leftChatBackgroundColor;
        color: $generalTextColor;
        float: left;
        left: 5px;
        &:after {
          border-top: 10px solid $leftChatBackgroundColor;
          border-left: 10px solid transparent;
          left: -10px;
        }
      }
    }
    .direct-chat-info {
      text-align: center;
      visibility: hidden;
    }
  }
  .iswriting {
    position: absolute;
    bottom: 30px;
    background: url(images/ellipses.gif) no-repeat center center;
    width: 100%;
    height: 15px;
  }
}

.progress-label {
  float: left;
  margin-left: 30%;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0 $lightColor;
}

.no-display {
  display: none;
}

#format {
  padding: 4px;
  overflow-y: auto;
}

.ui-progressbar {
  width: 100%;
  overflow: visible;
  &.ui-widget.ui-widget-content {
    height: 100%;
    border: none;
    .ui-progressbar-value {
      height: 100%;
    }
  }
  .ui-progressbar-overlay {
    background: url("images/progressBarLoading.gif");
    background-size: contain;
    opacity: 1;
    height: 100%;
  }
}


// Source: public/scripts/common/components/agGrid/agGrid.scss
ag-grid {
  height: 100%;
  flex: 1;
  .agGrid {
    height: 100%;
    .ag-header {
      margin-top: 1px;
      @include box-shadowLevel1;
    }
    .ag-body {
      margin-top: 2px;
      .actionColumn {
        .actionList {
          margin: 0;
          padding: 0;
          list-style: none;
          .action {
            cursor: pointer;
            display: inline-block;
            &:before {
              font-family: 'Font Awesome 5 Free';
              font-size: 20px;
            }
            &.editRow {
              &:before {
                content: '\f044';
                margin-right: 15px;
              }
            }
            &.deleteRow {
              &:before {
                content: '\f2ed';
              }
            }
          }
        }
      }
    }
  }
  .ag-theme-material {
    font-family: Segoe UI, Verdana, Arial, Helvetica, sans-serif;
  }
}


// Source: public/scripts/common/components/topBar/topBar.scss
.topBarContainer {
  height: 55px;
  background-color: $materialColorBlue800;
  @include shadowLevel-2;
  .pageTitle {
    display: inline-flex;
    align-items: center;
    font-size: 25px;
    color: $lightColor;
    margin-left: 20px;
  }
  .userIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    float: right;
    height: 45px;
    width: 45px;
    margin-right: 35px;
    margin-top: 5px;
    background-color: $lightColor;
    &:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f2bd';
      font-size: 46px;
      color: $materialColorGrey500;
    }
  }
  .user {
    font-size: 19px;
    color: $lightColor;
    float: right;
    margin-right: 15px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}


// Source: public/scripts/common/components/topMenu/topMenu.scss
.topMenuIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  padding: 5px 0;
  margin-left: 25px;
  color: $lightColor;
  &:before {
    font-family: 'Font Awesome 5 Free';
    content: '\f0c9';
    font-size: 25px;
    font-weight: 900;
  }
  &:hover {
    color: $materialColorGrey300;
    cursor: pointer;
  }
}

.mm-menu {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: auto;
  max-height: 350px;
  @include shadowLevel-1;
  .mm-navbar .mm-navbar__title {
    color: $materialColorGrey800;
  }
  .topMenuContainer {
    .mm-listitem {
      cursor: pointer;
      color: $materialColorGrey800;
      .menuItem {
        display: flex;
        align-items: center;
        &:before {
          font-family: 'Font Awesome 5 Free';
          font-size: 25px;
          margin-right: 10px;
          height: 25px;
          width: 25px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.dashboard{
          &:before {
            content: '\f26c';
            font-weight: 900;
          }
        }
        &.profile {
          &:before {
            content: '\f007';
          }
        }
        &.users {
          &:before {
            content: '\f0c0';
            font-weight: 900;
          }
        }
        &.packages {
          &:before {
            font-family: 'Font Awesome 5 Brands';
            content: '\f16b';
          }
        }
        &.statistics {
          &:before {
            content: '\f080';
          }
        }
        &.logout {
          &:before {
            font-family: 'Font Awesome 5 Free';
            content: '\f2f5';
            font-weight: 900;
          }
        }
      }

    }

  }
}

.mm-slideout {
  height: 100%;
}

// Source: public/scripts/common/services/loadingMask/loadingMask.scss
.loadingMask {
  display: none;
  position: fixed;
  top: 55px; // top bar height
  width: 100%;
  z-index: 1000;
  bottom: 0;
}

// Source: public/scripts/common/services/notificationMessage/notificationMessage.scss
.noty_body {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.noty_effects_open {
  opacity: 0;
  transform: translateY(0);
  animation: noty_anim_in 0.5s linear;
}

.noty_effects_close {
  animation: noty_anim_out 0.5s linear;
}

@keyframes noty_anim_in {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes noty_anim_out {
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

// Source: public/scripts/dashboard/dashboard.scss
.mainContainer {
  margin-top: 15px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// Source: public/scripts/login/login.scss
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  background: url("images/login.jpg") no-repeat center center fixed;
  background-size: cover;
  .loginForm {
    background-color: #EEEEEE70; //70 is the alpha of the color
    @include shadowLevel-2;
    padding: 20px;
    min-width: 400px;
    width: 30vw;
    .loginField {
      flex: 1;
    }
  }
}

// Source: public/scripts/profile/changePasswordDialog.scss
.changePasswordDialog {
  width: 30vw;
}

// Source: public/scripts/profile/profile.scss
.profileContainer {
  width: 50vw;
  margin: 0 auto;
  background-color: $lightColor;
  .profileForm {
    @include shadowLevel-1;
    margin: 2px;
    padding: 20px 25px 0 25px;
    .formHeader {
      font-size: 25px;
      margin-left: 10px;
      margin-bottom: 15px;
    }
    .formItem {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .navigationToolbar {
    padding-left: 25px;
  }
}

// Source: public/scripts/users/userDialog.scss
.userDialog {
  width: 30vw;
  .formItem {
    display: block;
  }
}

// Source: public/scripts/users/users.scss
.usersContainer {
  flex: 1;
  margin: 1px 25px 10px 25px;
  @include shadowLevel-2;
  display: flex;
  flex-direction: column;
}
