// Source: public/styles/scss/general.scss
@import "mixins";
@import "colorsVar";
@import "fonts";

body {
  margin: 0;
  height: 100%;
  background-color: #faf8f4;
  font-family: Segoe UI, Verdana, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#loading-bar-spinner {
  display: none;
}

// General classes
md-input-container {
  label {
    font-weight: 500;
    font-size: 15px;
    color: $materialColorGrey800
  }
  input {
    color: $materialColorGrey800;
    border-color: $materialColorGrey500;
  }
}

.applicationContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navigationToolbar {
  margin: 2px;
  @include shadowLevel-1;
}

// Source: public/scripts/components/services/notificationMessage/notificationMessage.scss
.noty_body {
  min-height: 50px;
  display: flex;
  align-items: center;
}

// Source: public/scripts/components/topBar/topBar.scss
.topBarContainer {
  height: 55px;
  background-color: $materialColorBlue800;
  @include shadowLevel-2;
  .pageTitle {
    display: inline-flex;
    align-items: center;
    font-size: 25px;
    color: $lightColor;
    margin-left: 20px;
  }
  .userIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    float: right;
    height: 45px;
    width: 45px;
    margin-right: 35px;
    margin-top: 5px;
    background-color: $lightColor;
    &:before {
      font-family: FontAwesome;
      content: '\f2bd';
      font-size: 46px;
      color: $materialColorGrey500;
    }
  }
  .user {
    font-size: 19px;
    color: $lightColor;
    float: right;
    margin-right: 15px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}


// Source: public/scripts/components/topMenu/topMenu.scss
.topMenuIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  padding: 5px 0;
  margin-left: 15px;
  color: $lightColor;
  &:before {
    font-family: FontAwesome;
    content: '\f0c9';
    font-size: 25px;
  }
  &:hover {
    color: $materialColorGrey300;
    cursor: pointer;
  }
}

.mm-menu {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: auto;
  max-height: 350px;
  @include shadowLevel-1;
  .mm-navbar .mm-navbar__title {
    color: $materialColorGrey800;
  }
  .topMenuContainer {
    .mm-listitem {
      cursor: pointer;
      color: $materialColorGrey800;
      .menuItem {
        display: flex;
        align-items: center;
        &:before {
          font-family: FontAwesome;
          font-size: 25px;
          margin-right: 10px;
          height: 25px;
          width: 25px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.dashboard{
          &:before {
            content: '\f26c';
          }
        }
        &.profile {
          &:before {
            content: '\f007';
          }
        }
        &.users {
          &:before {
            content: '\f0c0';
          }
        }
        &.packages {
          &:before {
            content: '\f16b';
          }
        }
        &.statistics {
          &:before {
            content: '\f080';
          }
        }
        &.logout {
          &:before {
            content: '\f08b';
          }
        }
      }

    }

  }
}

// Source: public/scripts/dashboard/dashboard.scss
.mainContainer {
  margin-top: 15px;
  flex: 1;
  overflow-y: auto;
}

// Source: public/scripts/login/login.scss
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  background: url("images/login.jpg") no-repeat center center fixed;
  background-size: cover;
  .loginForm {
    background-color: #EEEEEE70; //70 is the alpha of the color
    @include shadowLevel-2;
    padding: 20px;
    min-width: 400px;
    width: 30vw;
    .loginField {
      flex: 1;
    }
  }
}

// Source: public/scripts/profile/profile.scss
.profileContainer {
  width: 50vw;
  margin: 0 auto;
  .profileForm {
    @include shadowLevel-1;
    margin: 2px;
    padding: 20px 25px 0 25px;
    .formHeader {
      font-size: 25px;
      margin-left: 10px;
      margin-bottom: 15px;
    }
    .formItem {
      margin-left: 10px;
      margin-right: 10px;
    }

  }
  .navigationToolbar {
    padding-left: 25px;

  }
}
