/* Variables */
$botColor: #8bc34a;
$toolbarChatColor: #2196f3;
$lightGray: #aaaaaa;
$chatButtonBackgroundColor: #007988;
$hoverChatButtonBackgroundColor: #a6a6a6;
$rightChatBackgroundColor: #3fa8f0;
$leftChatBackgroundColor: #E0E0E0;
/* End variables */

li {
  list-style-type: none;
}

textarea {
  resize: none;
}

//Styling for the user list
#main-users-resizer {
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  background-color: $lightColor;
  @include shadowLevel-5;
  width: 250px;
  max-height: 75%;
  min-height: 25%;
  display: inline-block;
  position: fixed;
  z-index: 50000;
  bottom: 75px;
  right: 0;

  &:after {
    //https://codepen.io/ryanmcnz/pen/JDLhu
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -20px;
    right: 28px;
    border: 10px solid transparent transparent $lightColor $lightColor;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -5px 5px 16px rgba($shadowColor,.3);
  }
  #chat-title {
    height: 31px;
    .chat-main-title {
      padding: 5px;
      font-size: 16px;
      color: $lightColor;
      background-color: $toolbarChatColor;
      .number_of_online_users {
        padding-left: 3px;
      }
    }
  }
  .minimize-main {
    cursor: pointer;
    float: right;
    align-items: center;
    display: flex;
    margin-right: 10px;
    padding-top: 3px;
    &:before {
      font-family: 'Font Awesome 5 Free';
      content: "\f2d1";
      font-size: 14px;
      color: $lightColor;
    }
  }
  .user {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 7px 0 7px 13px;
    .user-avatar {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
      border: 1px solid $lightBorder;
    }
    &:hover {
      cursor: pointer;
      background-color: $materialColorGrey500;
      color: $lightColor;
    }
  }
  #chat-main-title-label {
    text-align: center;
    padding-top: 15px;
    .attempts {
      margin-top: 5px;
    }
    .reconnectLink {
      margin-top: 5px;
      color: $materialColorBlue800;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Styling for icon which open the user list
.main-chat-container {
  display: none;
  position: absolute;
  right: 15px;
  bottom: 15px;
  .apps {
    #chat-title-button {
      min-width: 120px;
    }
    position: relative;
  }
  #users-button-bar, .apps {
    display: inline-block;
  }
  .online, .offline {
    bottom: 0;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: $lightColor;
    cursor: pointer;
    border-radius: 50%;
    background-color: $materialColorGrey800;
    &:before {
      font-family: 'Font Awesome 5 Free';
      content: "\f086";
      font-size: 20px;
    }
    &:hover {
      @include transition();
      background-color: $hoverChatButtonBackgroundColor;
    }
  }
  #users-button-bar {
    position: absolute;
    right: 50px;
    display: flex;
    .user-button {
      height: 40px;
      width: 40px;
      &.open {
        height: 42px;
        width: 42px;
      }
      border-radius: 50%;
      position: relative;
      float: left;
      margin-right: 10px;
      .user-avatar {
        height: 100%;
        width: 100%;
        @include shadowLevel-3;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
        border: 1px solid $lightBorder;
      }
      .new-messages {
        color: $lightColor;
        display: none;
        background-color: $materialColorRed600;
        position: absolute;
        bottom: 20px;
        width: 19px;
        height: 19px;
        text-align: center;
        border-radius: 50%;
        left: 20px;
        line-height: 19px;
        font-size: 12px;
      }
      .close-button {
        cursor: pointer;
        display: none;
        line-height: 10px;
        background-color: $lightGray;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: absolute;
        left: 25px;
        bottom: 2px;
        text-align: center;
        &:before {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: '\f00d';
          font-size: 8px;
          color: $lightColor;
        }
      }
    }
  }
}

//Styling for dialog with users
.ui-dialog.ui-widget {
  display: inline-block;
  position: fixed;
  z-index: 50000;
  padding: 0;
  overflow: visible;
  background: $lightColor;
  @include shadowLevel-5;
  &:after {
    top: 100%;
    right: 19px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 15px solid transparent;
    border-top-color: $lightColor;
  }
  &:before {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    width: 22px;
    right: 23px;
    height: 22px;
    bottom: -11px;
    z-index: -1;
    @include shadowLevel-5;
  }

  .ui-dialog-content {
    padding: 0;
  }
  .ui-dialog-titlebar.ui-widget-header {
    height: 31px;
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: $toolbarChatColor;
    color: $lightColor;
    font-size: 16px;
    padding: 5px;
    .ui-dialog-title {
      width: 100%;
      margin: 0;
    }
    .toolbar-window {
      position: absolute;
      right: 0;
      .minimize-window, .close-window {
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
        &:before {
          color: $lightColor;
        }
      }
      .minimize-window {
        &:before {
          font-family: 'Font Awesome 5 Free';
          content: "\f2d1";
          font-size: 14px;
          vertical-align: top;
        }
      }
      .close-window {
        margin-right: 10px;
        &:before {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: '\f00d';
          font-size: 14px;
        }
      }
    }
  }
  &.ui-widget .textarea-msg {
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 30px;
    width: 100%;
    display: inline-block;
    padding: 2px 9px;
    border: 0;
    border-top: 1px solid $borderColor;
    &::-ms-clear {
      display: none;
    }
  }
}

//Styling for chat message
.direct-chat {
  border-radius: 0;
  box-shadow: none;
  border: 0;
  margin-bottom: 0;
  font-size: 12px;
  .direct-chat-messages {
    margin-bottom: 15px;
    max-height: 210px;
    min-height: 210px;
    .right, .left {
      overflow: hidden;
      margin-top: 5px;
      &:hover {
        .direct-chat-info {
          visibility: visible;
        }
      }
      .direct-chat-text {
        font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        min-width: 100px;
        max-width: 300px;
        word-break: break-word;
        padding: 5px;
        position: relative;
        &:after {
          content: ' ';
          width: 0;
          height: 0;
          position: absolute;
          z-index: -1;
          top: 0;
        }
      }
    }
    .right {
      .direct-chat-text {
        margin-right: 10px;
        background-color: $rightChatBackgroundColor;
        color: $lightColor;
        float: right;
        right: 5px;
        &:after {
          border-top: 10px solid $rightChatBackgroundColor;
          border-right: 10px solid transparent;
          right: -10px;
        }
      }
    }
    .left {
      .direct-chat-text {
        margin-left: 10px;
        background-color: $leftChatBackgroundColor;
        color: $generalTextColor;
        float: left;
        left: 5px;
        &:after {
          border-top: 10px solid $leftChatBackgroundColor;
          border-left: 10px solid transparent;
          left: -10px;
        }
      }
    }
    .direct-chat-info {
      text-align: center;
      visibility: hidden;
    }
  }
  .iswriting {
    position: absolute;
    bottom: 30px;
    background: url(images/ellipses.gif) no-repeat center center;
    width: 100%;
    height: 15px;
  }
}

.progress-label {
  float: left;
  margin-left: 30%;
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 0 $lightColor;
}

.no-display {
  display: none;
}

#format {
  padding: 4px;
  overflow-y: auto;
}

.ui-progressbar {
  width: 100%;
  overflow: visible;
  &.ui-widget.ui-widget-content {
    height: 100%;
    border: none;
    .ui-progressbar-value {
      height: 100%;
    }
  }
  .ui-progressbar-overlay {
    background: url("images/progressBarLoading.gif");
    background-size: contain;
    opacity: 1;
    height: 100%;
  }
}

